<script src="https://d3js.org/d3.v3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />

<link rel="stylesheet" type="text/css" href="style.css">

<body>
  <a href="/profile" class="btn btn-success">
    <span class="glyphicon glyphicon-home"></span> Home</a>


  <h2>Litecoin</h2>

  <div id="chart">

  </div>
</body>
<script src='litecoingraph.js'></script>