.logo {
  max-width: 400px;
  max-height: 400px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

button {
  background-color: #29a329;
  color: black;
}

.textto {
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  font-weight: bold;
  font-size: 16px;
  margin: auto;
  width: 50%;
  color: white;
  border-color: #29a329;
  text-align: center;
}
body{
  background-color: black;
  color: #29a329;
}
tr {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


tr:nth-child(2) {
  background : #29a329;
  color: black;
}
.media {
  padding: 10px;
}
.headers {
  text-align: center;
  font-weight: bold;
}

.welcome {
  font-size: 24px;
}

.widget {
  padding: 100px;
  text-align: center;
  font-size: 14px;
 
}

th {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

#display {
 
  height: 150px;
  width: 1050px;
  overflow: hidden;
  position: relative;
}

.text {
  
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 10px;
  margin-right: 10px;
  top: 10px;
}
span {
  display: flex;
}

